.heading-level-1, .heading-level-2, .heading-level-3, .heading-level-4, .heading-level-5 {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h1, h2, h3, h4, h5, h6 {
    margin-left: -0.5rem;
  }
}

.vp-doc h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
  font-family: ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ul > li {
  margin-left: 1rem;
}

#classes {
  display: none;
}

.VPHome {
  justify-content: end;
}

#demo-video {
  border-radius: 12px;
}

.vp-doc video, img {
  border-radius: 12px;
}
